@import '~_styles/variables/_variables';
@import '~_styles/mixins/_global_mixins';

.ImageComponent {
  width: 100%;
  height: 100%;
  &-wrapper {
    display: flex;
    max-width: 100%;
    max-height: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  &-img {
    width: auto;
    height: auto;
  }
  &--withBorder {
    border: 2px solid $brand-darkgrey;
  }
  &--fullWidth {
    .ImageComponent-img {
      width: 100%;
      height: auto;
    }
  }
  &--fullHeight {
    .ImageComponent-img {
      width: auto;
      height: 100%;
    }
  }
  &--isLoading {
    position: relative;
    .ImageComponent-img {
      height: 0;
      width: 0;
    }
    .ImageComponent-wrapper {
      display: block;
      height: 0;
      :after {
        display: block;
        position: absolute;
        content: 'Loading..';
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}