html {
  box-sizing: border-box;
}
body,
html {
  font-size: $font-size--root;
}
html,
body,
ul,
h1,h2,h3,h4,h5,figure,
p {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
*, *:before, *:after {
  box-sizing: border-box;
}
body {
  //height: 10000px;
}