// Font family
$font-family--base: Arial, Helvetica, sans-serif;
$font-family-logo--large: 'PT Serif Caption';
$font-family-logo--small: 'Berthold Akzidenz Grotesk'; 
// Font sizes
$font-size--root: 16px;

$font-size--5000: 2rem;
$font-size--4000: 1.75rem;
$font-size--3000: 1.50rem;
$font-size--2000: 1.25rem;
$font-size--1000: 1rem;
$font-size--500: 0.813rem;